<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.ilhajob.corp.mapper.CorpMapper">
	
	<resultMap id="corpWithAllResultMap"
			   type="com.itwill.ilhajob.corp.Corp" 
			   autoMapping="true">
			   <result column="corp_id" property="corpId"/>
		<association property="orders" 
					javaType="com.itwill.ilhajob.order.Orders" 
					autoMapping="true">
				<association property="product"
							 javaType="com.itwill.ilhajob.product.Product"
							 column="p_no"
							 select="com.itwill.ilhajob.product.mapper.ProductMapper.selectByNo">
				</association>
		</association>
		<collection property="corpImageList"
					ofType="com.itwill.ilhajob.corpimage.CorpImage"
					autoMapping="true">
		</collection>
		<collection property="managerList"
					ofType="com.itwill.ilhajob.manager.Manager"
					autoMapping="true">
		</collection>
	</resultMap>
	
	<select id="findCorpByIdWithAll" 
			parameterType="java.lang.String"
			resultMap="corpWithAllResultMap">
		select * from corp c
		join corp_image ci
		on c.corp_id=ci.corp_id
		join manager m
		on c.corp_id=m.corp_id
		join orders o
		on c.corp_id=o.corp_id
		where c.corp_id=#{corpId}
	</select>
	
	<resultMap id="corpWithOrdersResultMap"
			   type="com.itwill.ilhajob.corp.Corp" 
			   autoMapping="true">
			   <result column="corp_id" property="corpId"/>
		<association property="orders" 
					javaType="com.itwill.ilhajob.order.Orders" 
					autoMapping="true">
				<association property="product"
							 javaType="com.itwill.ilhajob.product.Product"
							 autoMapping="true">
							 <result column="p_no" property="pNo"/>
				</association>
		</association>
	</resultMap>
	<select id="findCorpByIdWithOrders"
			parameterType="java.lang.String"
			resultMap="corpWithOrdersResultMap">
		select * from corp c
			join orders o
			on c.corp_id=o.corp_id
	        join product p
	        on o.p_no=p.p_no
		where c.corp_id=#{corpId}
	</select>
	
	<resultMap id="corpWithRecruitResultMap" 
			   type="com.itwill.ilhajob.corp.Corp"
			   autoMapping="true">
			   <result column="corp_id" property="corpId"/>
		<collection property="recruitList"
					ofType="com.itwill.ilhajob.recruit.Recruit"
					autoMapping="true">
		</collection>
	</resultMap>
	<select id="findCorpByIdWithRecruit"
			parameterType="java.lang.String"
			resultMap="corpWithRecruitResultMap">
		select * from corp c
		join recruit r
		on c.corp_id=r.corp_id
		where r.corp_id=#{corpId}
		order by rc_seq desc
	</select>
	 
		<resultMap id="corpWithReviewResultMap" 
			   type="com.itwill.ilhajob.corp.Corp" 
			   autoMapping="true">
			   <result column="corp_id" property="corpId"/>
		<collection property="reviewList"
					ofType="com.itwill.ilhajob.review.Review"
					autoMapping="true">
		</collection>
	</resultMap>
	<select id="findCorpByIdWithReview" 
			parameterType="java.lang.String"
			resultMap="corpWithReviewResultMap">
		select * from corp c
		join review r
		on c.corp_id=r.corp_id
		where c.corp_id=#{corp_id}
		order by r.review_seq desc	
	</select>
	
	<select id="selectById" parameterType="java.lang.String"
							resultType="com.itwill.ilhajob.corp.Corp">
		select * from corp
		where corp_id = #{corpId}
	</select>
	
	
	
	<select id="selectAll"
			resultType="com.itwill.ilhajob.corp.Corp">
		select * from corp
	</select>
	
	<insert id="insertCorp" parameterType="com.itwill.ilhajob.corp.Corp">
		insert into corp(corp_id,corp_password,corp_name)
		values(#{corpId},#{corpPassword},#{corpName})
	</insert>
	
	<update id="updateCorp" parameterType="com.itwill.ilhajob.corp.Corp">
		update corp set
		corp_password=#{corpPassword},
		corp_name=#{corpName},
		corp_phone=#{corpPhone},
		corp_business_no=#{corpBusinessNo},
		corp_website=#{corpWebsite},
		corp_est=#{corpEst},
		corp_size=#{corpSize},
		corp_sales=#{corpSales},
		corp_comment=#{corpComment},
		corp_welfare=#{corpWelfare},
		corp_address=#{corpAddress},
		corp_status=#{corpStatus},
		job=#{job},
		role=#{role}
		where corp_id=#{corpId}
		
	</update>
	
	<delete id="deleteCorp" parameterType="java.lang.String">
		delete from corp
		where corp_id=#{corpId}
	</delete>
	
	<select id="existedCorp" 	parameterType="java.lang.String" 
								resultType="java.lang.Integer">
		select count(*) cnt from corp where corp_id=#{corId}
	</select>
</mapper>