<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.api-btn {
	outline: none;
	font-family: NotoSans DemiLight, Malgun Gothic, 맑은 고딕,
		Apple SD Gothic Neo, 돋움, dotum, sans-serif;
	background-color: #ffeb00;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	height: 49px;
	line-height: 49px;
	min-width: 222px;
}
</style>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"></script>
<script type="text/javascript">
	Kakao.init('68af4c214063b4f37f574061258b1c18'); 
	function loginWithKakao() {
		Kakao.Auth.authorize({
			redirectUri : 'http://localhost:8080/kakao_login_action',
			state : 'userme',
			state : 'sendme_feed',
			scope : 'talk_message', // 앱 동의 항목 설정 및 사용자 동의 필요
		});
	}
	
	function requestUserInfo() {
	    Kakao.API.request({
	      url: '/v2/user/me',
	    })
	      .then(function(res) {
	        alert(JSON.stringify(res));
	      })
	      .catch(function(err) {
	        alert(
	          'failed to request user information: ' + JSON.stringify(err)
	        );
	      });
	 }	
	
	function displayToken() {
	    var token = getCookie('authorize-access-token');

	    if(token) {
	      Kakao.Auth.setAccessToken(token);
	      
	      Kakao.Auth.getStatusInfo()
	        .then(function(res) {
	          if (res.status === 'connected') {
	            document.getElementById('token-result').innerText
	              = 'login success, token: ' + Kakao.Auth.getAccessToken();
	          }
	        })
	        .catch(function(err) {
	          Kakao.Auth.setAccessToken(null);
	        });
	     
	      document.querySelector('#token-result').innerText = 'login success, ready to request API';
	      document.querySelector('button.api-btn').style.visibility = 'visible';
	    }
	  }

	  function getCookie(name) {
	    var parts = document.cookie.split(name + '=');
	    if (parts.length === 2) { return parts[1].split(';')[0]; }
	  }
	  
	  
</script>
</head>
<body>
	<h1>카카오메인</h1>
	<th:block th:if="${kakaoProfile == null}">
		<!-- case 1 -->
		<a class="p-2"
			href="https://kauth.kakao.com/oauth/authorize?client_id=4c35ca8aa57dce8c012fbd79aaa84c16&redirect_uri=http://localhost:8080/kakao_login_action&response_type=code">
			<img
			th:src="@{https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg}" />
		</a>
		<!-- case 2 -->
		<br>
		<br>

		<a id="kakao-login-btn" href="javascript:loginWithKakao()"> <img
			src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
			alt="카카오 로그인 버튼" />
		</a>
	</th:block>
	<th:block th:if="${kakaoProfile != null}">
		
		<ul>
			<li th:text="|session.kakaoProfile:${session.kakaoProfile}|"></li>
			<li th:text="|kakaoProfile:${kakaoProfile}|"></li>
		</ul>
		<button class="api-btn" onclick="requestUserInfo()"
			style="visibility: hidden">사용자 정보 가져오기</button>
		<p id="token-result"></p>
		<a
			href="https://kauth.kakao.com/oauth/logout?client_id=4c35ca8aa57dce8c012fbd79aaa84c16&logout_redirect_uri=http://localhost:8080/kakao_main">로그아웃</a>
	</th:block>
	<script type="text/javascript">
	displayToken();
	</script>
</body>
</html>