<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
    
    function naverLogin(){
        let uri = 'https://nid.naver.com/oauth2.0/authorize?' +
            'response_type=code' +                  // 인증과정에 대한 내부 구분값 code 로 전공 (고정값)
            '&client_id=uKiP7WPNBZBkt2l_R87L' +     // 발급받은 client_id 를 입력
            '&state=NAVER_LOGIN_TEST' +             // CORS 를 방지하기 위한 특정 토큰값(임의값 사용)
            '&redirect_uri=http://localhost:8080/naver_login_action';   // 어플케이션에서 등록했던 CallBack URL를 입력
		location.href=uri;
    }
	
</script>
</head>
<body>
    <h1>네이버메인</h1>
	<th:block th:if="${naverProfile == null}">
    <!-- Naver Login Image & Button -->
    <button onclick="naverLogin();"><img width="200" height="50" src="images/btnG_완성형.png"></button>
    </th:block>
    <th:block th:if="${naverProfile != null}">
		
		<ul>
			
			<li th:text="|naverProfile:${naverProfile}|"></li>
		</ul>
		<button class="api-btn" onclick="requestUserInfo()">사용자 정보 가져오기</button>
		<p id="token-result"></p>
		
	</th:block>
</body>


</html>