<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style type="text/css" media="screen">
	body{
		margin: 0px;
		padding: 0px;
		border: 1px solid black;
	}
	#header{
		background-color: pink;
	}
	#sidebar{
		background-color: orange;
		width:150px;
		float: left;
	}
	#sidebar2{
		background-color: gold;
		width:150px;
		float: right;
	}		
	#main{
		background-color: yellow;
	
	}
	#footer{
		background-color: blue;
		clear: both;
	
	}
</style>
</head>
<body>
<div id="header">header</div>	
<div id="sidebar">
	sidebar
	<ol>
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		
	</ol>
</div>
<div id="sidebar2">
	sidebar2
	<ol>
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		<li>menu</li>	
		
	</ol>
</div>		

<div id="main">
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 mainmainmainmainmain
	 
	<span>main span</span>
	<span>main span</span>
	<span>main span</span>
	<span>main span</span>
	<span>main span</span>
	<span>main span</span>
	<span>main span</span>
	<span>main span</span>

	
</div>	







<div id="footer">footer</div>	
</body>
</html>