<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.ilhajob.user.mapper.UserMapper">
	<resultMap type="com.itwill.ilhajob.user.User" id="userWithExpAwardsEduListResultMap" autoMapping="true">
		<result column="user_seq" property="userSeq"/>
		<collection property="expList" javaType="java.util.List" ofType="com.itwill.ilhajob.exp.Exp" autoMapping="true"></collection>
		<collection property="awardsList" javaType="java.util.List" ofType="com.itwill.ilhajob.awards.Awards" autoMapping="true" ></collection>
		<collection property="eduList" javaType="java.util.List" ofType="com.itwill.ilhajob.edu.Edu" autoMapping="true"></collection>
	</resultMap>
	<select id="findExpAwardsEduByUserSeq" parameterType="java.lang.Integer" 
								 resultType="com.itwill.ilhajob.user.User"
								 resultMap="userWithExpAwardsEduListResultMap">
		select * from userinfo u
		left outer join experience e on u.user_seq = e.user_seq
		left outer join awards a on u.user_seq = a.user_seq
		left outer join education ed on u.user_seq = ed.user_seq
		where u.user_seq = #{userSeq}
	</select>
	
	
	<resultMap type="com.itwill.ilhajob.user.User" id="userWithAppListResultMap" autoMapping="true">
		<result column="user_seq" property="userSeq"/>
		<collection property="appList" javaType="java.util.List" ofType="com.itwill.ilhajob.app.App" autoMapping="true" >
			<association property="rc" javaType="com.itwill.ilhajob.recruit.Recruit" column="rc_seq" autoMapping="true">
			</association>
		</collection>
	</resultMap>
	<select id="findAppByUserSeq" parameterType="java.lang.Integer" 
								 resultType="com.itwill.ilhajob.user.User"
								 resultMap="userWithAppListResultMap">
		select * from userinfo u
        join app a
        on u.user_seq = a.user_seq
        join recruit rc 
		on a.rc_seq = rc.rc_seq
        where u.user_seq = #{userSeq}
	</select>
	
	<resultMap id="userWithReviewResultMap" 
			   type="com.itwill.ilhajob.user.User" 
			   autoMapping="true">
			   <result column="user_seq" property="userSeq"/>
		<collection property="reviewList"
					ofType="com.itwill.ilhajob.review.Review"
					autoMapping="true">
		</collection>
	</resultMap>
	<select id="findUserByIdWithReview" 
			parameterType="java.lang.Integer"
			resultMap="userWithReviewResultMap">
		select * from review r
		join userinfo u
		on r.user_seq=u.user_seq
		where r.user_seq=#{userSeq}
		order by r.review_seq desc
	</select>
	
	<insert id="create" parameterType="com.itwill.ilhajob.user.User">
		<selectKey keyProperty="userSeq" resultType="int" order="BEFORE">
			select userinfo_user_seq_seq.nextval from dual
		</selectKey>
	    insert into userinfo (user_seq, user_email, user_password, sns_type, sns_id)
   	 	values (#{userSeq}, #{userEmail}, #{userPassword}, #{snsType, jdbcType=VARCHAR}, #{snsId, jdbcType=VARCHAR})
	</insert>

	<update id="update" parameterType="com.itwill.ilhajob.user.User">
    	update userinfo
    	set user_phone = #{userPhone, jdbcType=VARCHAR}, user_sex = #{userSex, jdbcType=VARCHAR}, user_address = #{userAddress, jdbcType=VARCHAR},
        	user_career = #{userCareer, jdbcType=VARCHAR}, user_age = #{userAge, jdbcType=NUMERIC}, user_final_education = #{userFinalEducation, jdbcType=VARCHAR},
        	user_language = #{userLanguage, jdbcType=VARCHAR}, user_skills = #{userSkills, jdbcType=VARCHAR}, user_image = #{userImage, jdbcType=VARCHAR},
        	sns_type = #{snsType, jdbcType=VARCHAR}, sns_id = #{snsId, jdbcType=VARCHAR}, job = #{job, jdbcType=VARCHAR}
    	where user_Email = #{userEmail}
	</update>
	
	<delete id="remove" parameterType="java.lang.String">
		delete userinfo where user_email=#{userEmail}
	</delete>
	
	<select id="findUser" parameterType="java.lang.String"
						  resultType="com.itwill.ilhajob.user.User"	>
		select * from userinfo 
		where user_email=#{userEmail}
	</select>
	
	<select id="existedUser" 	parameterType="java.lang.String" 
								resultType="java.lang.Integer">
		select count(*) cnt from userinfo where user_email=#{userEmail}
	</select>
	
	<select id="findBySnsId" 	parameterType="com.itwill.ilhajob.user.User" 
								resultType="java.lang.Integer">
		select count(*) cnt from userinfo where sns_type=#{snsType} and sns_id=#{snsId}
	</select>

</mapper>