<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Superio | Just another HTML Template | Blog Single</title>

  <!-- Stylesheets  -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header">
     <div id="main-header" th:include="include_common_top::include_common_top"></div>
    </header>
    <!--End Main Header -->

    <!-- Blog Single -->
    <section class="blog-single">
      <div class="auto-container">
        <div class="upper-box">
          <h3 th:text=${blog.blogTitle}>Keep your face always toward the sunshine - and shadows will fall behind you.</h3>
          <ul class="post-info">
            <li ><span class="thumb"><img src="images/resource/thumb-1.png" alt=""></span> Alison Dawn</li>
            <li th:text="${blog.blogDate}"> August 31, 2021</li>
            <li th:text="|${#lists.size(blogCommentList)} Comment|"> Comment</li>
          </ul>
        </div>
      </div>
      <figure class="main-image"><img src="images/resource/blog-single.jpg" alt=""></figure>
      <div class="auto-container">
        <p th:text=${blog.blogContent}>Aliquam hendrerit sollicitudin purus, 
        quis rutrum mi accumsan nec. Quisque bibendum orci ac nibh facilisis, 
        at malesuada orci congue. Nullam tempus sollicitudin cursus. Ut et adipiscing erat. Curabitur this is a text link libero tempus congue.</p>
    
	</div>
  
        <!-- Comments area -->
         <div class="auto-container">
          <!-- Comment Box -->
          <div class="comment-box">
            <h4>Comment</h4>
            <!-- Comment -->
            <div class="comment" th:each="blogComment : ${blogCommentList}">
              <div class="user-thumb"><img src="images/resource/avatar-1.jpg" alt=""></div>
              <div class="comment-info">
                <div class="user-name" th:text=${blogComment.userSeq}>Oscar Cafeo</div>
                <div class="title" th:text=${blogComment.commentDate}>Beautiful courses</div>
              </div>
              <div class="text" th:text="${blogComment.commentContent}">Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement tantaneously eel valiantly petted this along across highhandedly much.</div>
            </div>
          </div>


        <!-- Comment Form -->
        <div class="comment-form default-form">
          <h4>댓글 등록</h4>
          <form>
            <div class="row clearfix">
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <label>이름</label>
                <input type="text" name="username" placeholder="Name" required>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                <label>이메일</label>
                <input type="email" name="email" placeholder="Email" required>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <label>댓글내용</label>
                <textarea name="message" placeholder="Write Comment"></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                <button class="theme-btn btn-style-one" type="submit" name="submit-form">등록하기</button>
              </div>
            </div>
          </form>
        </div>
        <!--End Comment Form -->
      </div>
    </section>
    <!-- End Blog Single -->

    <!-- Main Footer -->
    <footer class="main-footer alternate5">
      <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
          <div class="row">
            <div class="big-column col-xl-4 col-lg-3 col-md-12">
              <div class="footer-column about-widget">
                <div class="logo"><a href="#"><img src="images/logo.svg" alt=""></a></div>
                <p class="phone-num"><span>Call us </span><a href="thebeehost@support.com">123 456 7890</a></p>
                <p class="address">329 Queensberry Street, North Melbourne VIC<br> 3051, Australia. <br><a href="mailto:support@superio.com" class="email">support@superio.com</a></p>
              </div>
            </div>

            <div class="big-column col-xl-8 col-lg-9 col-md-12">
              <div class="row">
                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">For Candidates</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Jobs</a></li>
                        <li><a href="#">Browse Categories</a></li>
                        <li><a href="#">Candidate Dashboard</a></li>
                        <li><a href="#">Job Alerts</a></li>
                        <li><a href="#">My Bookmarks</a></li>
                      </ul>
                    </div>
                  </div>
                </div>


                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">For Employers</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Candidates</a></li>
                        <li><a href="#">Employer Dashboard</a></li>
                        <li><a href="#">Add Job</a></li>
                        <li><a href="#">Job Packages</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">About Us</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Job Page</a></li>
                        <li><a href="#">Job Page Alternative</a></li>
                        <li><a href="#">Resume Page</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>


                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Helpful Resources</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Center</a></li>
                        <li><a href="#">Security Center</a></li>
                        <li><a href="#">Accessibility Center</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">
          <div class="outer-box">
            <div class="copyright-text">© 2021 <a href="#">Superio</a>. All Right Reserved.</div>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Scroll To Top -->
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </footer>
    <!-- End Main Footer -->


  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>

</body>

</html>