<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

</head>
<div th:fragment="corp-sidebar">
<div class="user-sidebar">

      <div class="sidebar-inner">
        <ul class="navigation">
          <li class="active"><a href="dashboard"> <i class="la la-home"></i> 대시보드</a></li>
          <li><a href="dashboard-company-profile"><i class="la la-user-tie"></i>기업정보 등록/수정</a></li>
          <li><a href="dashboard-post-job"><i class="la la-paper-plane"></i>공고 등록</a></li>
          <li><a href="dashboard-manage-job"><i class="la la-briefcase"></i> 공고리스트 </a></li>
          <!--<li><a href="dashboard-applicants"><i class="la la-file-invoice"></i> 공고 내 이력서리스트</a></li-->
        <!--  <li><a href="dashboard-resumes"><i class="la la-bookmark-o"></i>Shortlisted Resumes</a></li> -->
          <li><a href="dashboard-packages"><i class="la la-box"></i>구매내역</a></li>
        <!--  <li><a href="dashboard-messages"><i class="la la-comment-o"></i>Messages</a></li>  -->
        <!--  <li><a href="dashboard-resume-alerts"><i class="la la-bell"></i>Resume Alerts</a></li> -->
          <li><a href="dashboard-change-password"><i class="la la-lock"></i>비밀번호 변경</a></li>
         <!-- <li><a href="dashboard-company-profile"><i class="la la-user-alt"></i>View Profile</a></li> -->
          <li><a href="index"><i class="la la-sign-out"></i>로그아웃</a></li>
          <li><a href="index"><i class="la la-trash"></i>회원탈퇴</a></li>
        </ul>
      </div>
    </div>
   
   <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/anm.min.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>
  
  <script src="js/chart.min.js"></script>
   
</div>