<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Superio | Just another HTML Template | Messages</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
     <div id="main-header" th:include="include_common_top_dashboard::include_common_top_dashboard"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div id="user-sidebar" th:include="corp-sidebar::corp-sidebar"></div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Messages</h3>
          <div class="text">Ready to jump back in?</div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <!-- Chat Widget -->
            <div class="chat-widget">
              <div class="widget-content">
                <div class="row">
                  <div class="contacts_column col-xl-4 col-lg-5 col-md-12 col-sm-12 chat" id="chat_contacts">
                    <div class="card contacts_card">
                      <div class="card-header">
                        <div class="search-box-one">
                          <form method="post" action="#">
                            <div class="form-group">
                              <span class="icon flaticon-search-1"></span>
                              <input type="search" name="search-field" value="" placeholder="Search" required="">
                            </div>
                          </form>
                        </div>
                      </div>
                      <div class="card-body contacts_body">
                        <ul class="contacts">
                          <li>
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-1.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Darlene Robertson</span>
                                  <p> Head of Development</p>
                                </div>
                                <span class="info">35 mins</span>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-2.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Jane Cooper</span>
                                  <p>Head of Development</p>
                                </div>
                                <span class="info">35 mins <span class="count">2</span></span>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-3.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Arlene McCoy</span>
                                  <p>Head of Development</p>
                                </div>
                                <span class="info">35 mins <span class="count bg-success">2</span></span>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-4.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Albert Flores</span>
                                  <p>Head of Development</p>
                                </div>
                                <span class="info">35 mins</span>
                              </div>
                            </a>
                          </li>
                          <li class="active">
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-5.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Williamson</span>
                                  <p>Head of Development</p>
                                </div>
                                <span class="info">35 mins <span class="count bg-warning">2</span></span>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-6.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Kristin Watson</span>
                                  <p>Head of Development</p>
                                </div>
                                <span class="info">35 mins</span>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-7.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Annette Black</span>
                                  <p>Head of Development</p>
                                </div>
                                <span class="info">35 mins</span>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                  <img src="images/resource/candidate-8.png" class="rounded-circle user_img" alt="">
                                </div>
                                <div class="user_info">
                                  <span>Jacob Jones</span>
                                  <p>Head of Development</p>
                                </div>
                                <span class="info">35 mins</span>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class=" col-xl-8 col-lg-7 col-md-12 col-sm-12 chat">
                    <div class="card message-card">
                      <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                          <div class="img_cont">
                            <img src="images/resource/candidate-8.png" alt="" class="rounded-circle user_img">
                          </div>
                          <div class="user_info">
                            <span>Arlene McCoy</span>
                            <p>Active</p>
                          </div>
                        </div>

                        <div class="btn-box">
                          <button class="dlt-chat">Delete Conversation</button>
                          <button class="toggle-contact"><span class="fa fa-bars"></span></button>
                        </div>
                      </div>

                      <div class="card-body msg_card_body">
                        <div class="d-flex justify-content-start mb-2">
                          <div class="img_cont_msg">
                            <img src="images/resource/candidate-3.png" alt="" class="rounded-circle user_img_msg">
                            <div class="name">Albert Flores <span class="msg_time">35 mins</span></div>
                          </div>
                          <div class="msg_cotainer">
                            How likely are you to recommend our company to your friends and family?
                          </div>
                        </div>

                        <div class="d-flex justify-content-end mb-2 reply">
                          <div class="img_cont_msg">
                            <img src="images/resource/candidate-6.png" alt="" class="rounded-circle user_img_msg">
                            <div class="name">You <span class="msg_time">35 mins</span></div>
                          </div>
                          <div class="msg_cotainer">
                            Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.
                          </div>
                        </div>

                        <div class="d-flex justify-content-start">
                          <div class="img_cont_msg">
                            <img src="images/resource/candidate-3.png" alt="" class="rounded-circle user_img_msg">
                            <div class="name">Cameron Williamson <span class="msg_time">35 mins</span></div>
                          </div>
                          <div class="msg_cotainer">
                            Ok, Understood!
                          </div>
                        </div>
                      </div>

                      <div class="card-footer">
                        <div class="form-group mb-0">
                          <textarea class="form-control type_msg" placeholder="Type a message..."></textarea>
                          <button type="button" class="theme-btn btn-style-one submit-btn">Send Message</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <p>© 2021 Superio. All Right Reserved.</p>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>
  <!--Google Map APi Key-->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDaaCBm4FEmgKs5cfVrh3JYue3Chj1kJMw&#038;ver=5.2.4"></script>
  <script src="js/map-script.js"></script>
  <!--End Google Map APi-->
</body>

</html>