<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Superio | Just another HTML Template | Resume Alerts</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
      <div id="main-header" th:include="include_common_top_dashboard::include_common_top_dashboard"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div id="user-sidebar" th:include="corp-sidebar::corp-sidebar"></div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>Resume Alerts</h3>
          <div class="text">Ready to jump back in?</div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <!-- Ls widget -->
            <div class="ls-widget">
              <div class="tabs-box">
                <div class="widget-title">
                  <h4>My Alerts</h4>

                </div>

                <div class="widget-content">
                  <div class="table-outer">
                    <table class="default-table manage-job-table">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Alert Query</th>
                          <th>Number Jobs</th>
                          <th>Times</th>
                          <th>Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>Education</td>
                          <td>Category: Education Training, Posted Date: All, Salary: $1000 – $3000</td>
                          <td>Jobs found 5</td>
                          <td>Weekly</td>
                          <td><button><i class="la la-trash colored"></i></button></td>
                        </tr>
                        <tr>
                          <td>Accounting and Finance</td>
                          <td>Category: Education Training, Posted Date: All, Salary: $1000 – $3000</td>
                          <td>Jobs found 5</td>
                          <td>Weekly</td>
                          <td><button><i class="la la-trash colored"></i></button></td>
                        </tr>
                        <tr>
                          <td>Education</td>
                          <td>Category: Education Training, Posted Date: All, Salary: $1000 – $3000</td>
                          <td>Jobs found 5</td>
                          <td>Weekly</td>
                          <td><button><i class="la la-trash colored"></i></button></td>
                        </tr>
                        <tr>
                          <td>Accounting and Finance</td>
                          <td>Category: Education Training, Posted Date: All, Salary: $1000 – $3000</td>
                          <td>Jobs found 5</td>
                          <td>Weekly</td>
                          <td><button><i class="la la-trash colored"></i></button></td>
                        </tr>
                        <tr>
                          <td>Education</td>
                          <td>Category: Education Training, Posted Date: All, Salary: $1000 – $3000</td>
                          <td>Jobs found 5</td>
                          <td>Weekly</td>
                          <td><button><i class="la la-trash colored"></i></button></td>
                        </tr>
                        <tr>
                          <td>Accounting and Finance</td>
                          <td>Category: Education Training, Posted Date: All, Salary: $1000 – $3000</td>
                          <td>Jobs found 5</td>
                          <td>Weekly</td>
                          <td><button><i class="la la-trash colored"></i></button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <p>© 2021 Superio. All Right Reserved.</p>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>
  <!--Google Map APi Key-->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDaaCBm4FEmgKs5cfVrh3JYue3Chj1kJMw&#038;ver=5.2.4"></script>
  <script src="js/map-script.js"></script>
  <!--End Google Map APi-->
</body>

</html>