<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
	function cvDelete(){
		document.f.action=""
	}
	

</script>







<head>
  <meta charset="utf-8">
  <title>Superio | Just another HTML Template | All Aplicants</title>

  <!-- Stylesheets -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  

  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header header-shaddow">
      <div id="main-header" th:include="include_common_top_dashboard::include_common_top_dashboard"></div>
    </header>
    <!--End Main Header -->

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div id="user-sidebar" th:include="corp-sidebar::corp-sidebar"></div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
      <div class="dashboard-outer">
        <div class="upper-title-box">
          <h3>All Aplicants</h3>
          <div class="text">해당 공고의 이력서 목록입니다.</div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <!-- Ls widget -->
            <div class="ls-widget">
              <div class="tabs-box">
                <div class="widget-title">
                  <h4>Applicant</h4>

                  <div class="chosen-outer">
                    <!--Tabs Box-->
                    <select class="chosen-select">
                      <option>Select Jobs</option>
                      <option>Last 12 Months</option>
                      <option>Last 16 Months</option>
                      <option>Last 24 Months</option>
                      <option>Last 5 year</option>
                    </select>

                    <!--Tabs Box-->
                    <select class="chosen-select">
                      <option>All Status</option>
                      <option>Last 12 Months</option>
                      <option>Last 16 Months</option>
                      <option>Last 24 Months</option>
                      <option>Last 5 year</option>
                    </select>
                  </div>
                </div>

                <div class="widget-content">

                  <div class="tabs-box">
                    <div class="aplicants-upper-bar">
                      <h6 th:text="${recruit.rcTitle}">Senior Product Designer</h6>
                      <ul class="aplicantion-status tab-buttons clearfix">
                        <li class="tab-btn active-btn totals" data-tab="#totals">Total(s): 6</li>
                        <li class="tab-btn approved" data-tab="#approved">Approved: 2</li>
                        <li class="tab-btn rejected" data-tab="#rejected">Rejected(s): 4</li>
                      </ul>
                    </div>

                    <div class="tabs-content">
                      <!--Tab-->
                      <div class="tab active-tab" id="totals">
                        <div class="row">
                          <!-- Candidate block three -->
                          <div th:each="cv:${cvList}" class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                            <div  class="inner-box">
                              <div class="content">
                                <figure class="image"><img src="images/resource/candidate-1.png" alt=""></figure>
                                <h4 th:text="${cv.cvName}" class="name" ><a href="#">Darlene Robertson</a></h4>
                                <ul class="candidate-info">
                                  <li th:text="|UserNo= ${cv.userSeq}|" class="designation">UI Designer</li>
                                  <li class="icon flaticon-map-locator"><span th:text="|Description= ${cv.cvDescription}|">London, UK</span></li>
                                  <li class="icon flaticon-money"><span th:text="|Portfoli
                                  o= ${cv.cvPortfolio}|" >$99 / hour</span></li>
                                </ul>
                                <ul class="post-tags">
                                  <li><a href="#">App</a></li>
                                  <li><a href="#">Design</a></li>
                                  <li><a href="#">Digital</a></li>
                                </ul>
                              </div>
                              <div class="option-box">
                                <ul class="option-list">
                                
                                <form id="cvControl" name="f">
                                  <input type="hidden"/>
                                  <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                                  <li><button data-text="Approve Aplication"><span class="la la-check"></span></button></li>
                                  <li><button data-text="Reject Aplication"><span class="la la-times-circle"></span></button></li>
                                  <li><button data-text="Delete Aplication" onclick="cvDelete()" th:value="${cv.cvSeq}"><span class="la la-trash"></span></button></li>
                                </form>
                                
                                </ul>
                              </div>
                            </div>
                          </div>

                          
                      <!--Tab-->
                      <div class="tab" id="approved">
                        <div class="row">
                          <!-- Candidate block three -->
                          <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                              <div class="content">
                                <figure class="image"><img src="images/resource/candidate-1.png" alt=""></figure>
                                <h4 class="name"><a href="#">Darlene Robertson</a></h4>
                                <ul class="candidate-info">
                                  <li class="designation">UI Designer</li>
                                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                  <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                </ul>
                                <ul class="post-tags">
                                  <li><a href="#">App</a></li>
                                  <li><a href="#">Design</a></li>
                                  <li><a href="#">Digital</a></li>
                                </ul>
                              </div>
                              <div class="option-box">
                                <ul class="option-list">
                                  <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                                  <li><button data-text="Approve Aplication"><span class="la la-check"></span></button></li>
                                  <li><button data-text="Reject Aplication"><span class="la la-times-circle"></span></button></li>
                                  <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                                </ul>
                              </div>
                            </div>
                          </div>

                       

                      <!--Tab-->
                      <div class="tab" id="rejected">
                        <div class="row">
                          <!-- Candidate block three -->
                          <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                              <div class="content">
                                <figure class="image"><img src="images/resource/candidate-3.png" alt=""></figure>
                                <h4 class="name"><a href="#">Leslie Alexander</a></h4>
                                <ul class="candidate-info">
                                  <li class="designation">UI Designer</li>
                                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                  <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                </ul>
                                <ul class="post-tags">
                                  <li><a href="#">App</a></li>
                                  <li><a href="#">Design</a></li>
                                  <li><a href="#">Digital</a></li>
                                </ul>
                              </div>
                              <div class="option-box">
                                <ul class="option-list">
                                  <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                                  <li><button data-text="Approve Aplication"><span class="la la-check"></span></button></li>
                                  <li><button data-text="Reject Aplication"><span class="la la-times-circle"></span></button></li>
                                  <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <!-- Candidate block three -->
                          <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-box">
                              <div class="content">
                                <figure class="image"><img src="images/resource/candidate-1.png" alt=""></figure>
                                <h4 class="name"><a href="#">Darlene Robertson</a></h4>
                                <ul class="candidate-info">
                                  <li class="designation">UI Designer</li>
                                  <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                  <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                </ul>
                                <ul class="post-tags">
                                  <li><a href="#">App</a></li>
                                  <li><a href="#">Design</a></li>
                                  <li><a href="#">Digital</a></li>
                                </ul>
                              </div>
                              <div class="option-box">
                                <ul class="option-list">
                                  <li><button data-text="View Aplication"><span class="la la-eye"></span></button></li>
                                  <li><button data-text="Approve Aplication"><span class="la la-check"></span></button></li>
                                  <li><button data-text="Reject Aplication"><span class="la la-times-circle"></span></button></li>
                                  <li><button data-text="Delete Aplication"><span class="la la-trash"></span></button></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
      <p>© 2021 Superio. All Right Reserved.</p>
    </div>

  </div><!-- End Page Wrapper -->


  <script src="js/jquery.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/chosen.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.fancybox.js"></script>
  <script src="js/jquery.modal.min.js"></script>
  <script src="js/mmenu.polyfills.js"></script>
  <script src="js/mmenu.js"></script>
  <script src="js/appear.js"></script>
  <script src="js/ScrollMagic.min.js"></script>
  <script src="js/rellax.min.js"></script>
  <script src="js/owl.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/script.js"></script>
  <!--Google Map APi Key-->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDaaCBm4FEmgKs5cfVrh3JYue3Chj1kJMw&#038;ver=5.2.4"></script>
  <script src="js/map-script.js"></script>
  <!--End Google Map APi-->
</body>

</html>